unset CUSTOM_PS1

export PHASE=dev
export AWS_PROFILE=
export MASTER_INSTANCE_TYPE="m6g.xlarge"
export CORE_INSTANCE_TYPE="m6g.xlarge"
# private2-subnet-[01,02]
SUBNET_IDS=( "subnet-SUBNET_ID_1" "subnet-SUBNET_ID_2" )
export SUBNET_ID="${SUBNET_IDS[@]:$RANDOM % ${#SUBNET_IDS[@]}:1}"
export SERVICE_ACCESS_SECURITY_GROUP="sg-SECURITY_GROUP_ID"
export EMR_MANAGED_SLAVE_SECURITY_GROUP="sg-SECURITY_GROUP_ID"
export EMR_MANAGED_MASTER_SECURITY_GROUP="sg-SECURITY_GROUP_ID"
export EMR_INSTANCE_PROFILE="AWS_ROLE_NAME"
export S3_BUCKET="klaytn-dev-lake"
export S3_LOG_URI="gs://klaytn-dev-spark/emr"
export S3_JAR_PATH="gs://klaytn-dev-spark/jars"

source ./bin_v2/login.sh
