{
  "index_patterns" : ["{{ index_name }}"],
  "version" : 1,
  "order" : 1,
  "settings" : {
    "index" : {
      "number_of_shards" : {{ number_of_shards }},
      "number_of_replicas" : {{ number_of_replicas }}
    }
  },
  "mappings" : {
    "_routing" : {
      "required" : false
    },
    "dynamic" : true,
    "properties" : {
      "timestamp" :                { "type" : "date" },
      "id" :                       { "type" : "long" },
      "name" :                     { "type" : "keyword" },
      "count":                     { "type" : "integer" },
      "tags":                      { "type": "keyword", "fields": { "keyword": { "type": "keyword" } } }
    }
  }
}
