{
  "index_patterns": ["{{ index_name }}"],
  "version": 1,
  "order": 1,
  "settings": {
    "index": {
      "number_of_shards": {{ number_of_shards }},
      "number_of_replicas": {{ number_of_replicas }},
      "max_ngram_diff": 8,
      "refresh_interval" : "1s"
    },
    "analysis": {
      "analyzer": {
        "ngram_lowercase_analyzer": {
          "tokenizer": "ngram_tokenizer",
          "filter": ["lowercase"]
        }
      },
      "tokenizer": {
        "ngram_tokenizer": {
          "type": "ngram",
          "min_gram": 2,
          "max_gram": 10
        }
      }
    }
  },
  "mappings": {
    "_routing": {
      "required": false
    },
    "dynamic": false,
    "properties": {
      "contract_address":   { "type": "keyword" },
      "contract_type":      { "type": "integer" },
      "name":               { "type": "text", "analyzer": "ngram_lowercase_analyzer" },
      "symbol":             { "type": "text", "analyzer": "ngram_lowercase_analyzer" },
      "verified":           { "type": "boolean" },
      "created_at":         { "type": "date", "format": "epoch_millis" },
      "updated_at":         { "type": "date", "format": "epoch_millis" },
      "total_supply_order": { "type": "keyword" },
      "total_transfer":     { "type": "long" }
    }
  }
}
