spark.app.mysql {
    driver = "com.mysql.jdbc.Driver"
    username =
    password =
    urlProperty = "serverTimezone=UTC&rewriteBatchedStatements=true&useSSL=false"
    cachePrepStmts = true
    prepStmtCacheSize = 250
    prepStmtCacheSqlLimit = 2048
    minimumIdle = 3
    maximumPoolSize = 8
    connectionTimeout = 10000

    url {
        finder01 = "jdbc:mysql://ENV_MYSQL_HOST:3306/finder_baobab"
        finder0201 = "jdbc:mysql://ENV_MYSQL_HOST:3306/finder_baobab"
        finder03 = "jdbc:mysql://ENV_MYSQL_HOST:3306/finder_baobab"
    }

    shardno.finder02 = 1
}