include classpath("prod/all.baobab.conf")

spark.app.start_id = 1
spark.app.end_id = 10000
spark.app.repartition = 4
spark.app.before_gas_price = "750000000000"
spark.app.current_gas_price = "250000000000"
spark.app.min_block_id = 87091200
spark.app.scan_bulk_size =
spark.app.update_bulk_size =
spark.app.db_names = ["finder01"]
