include classpath("prod/all.cypress.conf")

spark.driver.cores=1
spark.driver.memory=2g
spark.executor.instances=3
spark.executor.cores=1
spark.executor.memory=2g

spark.app {
    batchDuration = "10 seconds"

    streaming {
        monitoring.maxDelay = "20 seconds"
        monitoring.notifyInterval = "5 seconds"
    }
}